* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color project */

:root {
    --bg-color: #000000;
    --green-color: green;
    --red-color: red;
    --btn-color: gray;
}

/* selector style */
body {
    font-family: sans-serif;
    height: 100vh;
    background-color: var(--bg-color);
    font-size: .8rem;
    width: 100vw;
    color: white;
}
a {
    color: white;
}
/* classes style */

/* flex option */
.d-flex {
    display: flex;
}
.gap {
    gap: .5rem;
}
.wrapping {
    flex-wrap: wrap ;
}
.justify-center {
    justify-content: center;
}
.space-beetwen {
    justify-content: space-between;
}
/* flex option */

/* header section page */

.header-container {
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-right: 5px;
}
.header-container a {
    text-decoration: none;
}
.btn {
    padding: .20rem;
    background-color: var(--btn-color);
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover {
    padding-left: .30rem;
    padding-right: .30rem;
}

/* main section page */

.main-container {
    padding: 2rem 3rem;
}
.user-card {
    position: relative;
    max-height: 100px;
    height: 100%;
}
.user-card img{
    max-width: 200px;
    width: 100%;
    height: 100%;
    max-height: 100px;
}
.user-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(152, 131, 131, 0.7);
    padding: .25rem .5rem;
}

/* footer section page */

.footer-container {
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(50, 44, 44, 0.8);
}
.col-container {
    align-items: center;
    height: 100%;
}
.col-lg, .col-sm {
    text-align: center;
    align-self: center;
    padding: .25rem .25rem;

}
.icon,.description-icon {
    padding: .25rem;
}
.description-icon {
    font-size: .6rem;
}
.footer-container i{
    font-size: 1.5rem;
}
.footer-container .fa-angle-up {
    font-size: .6rem;
}
.btn-end-meeting {
    background-color: var(--btn-color);
    height: 100%;
    align-items: center;
    text-align: center;
}
.btn-end-meeting a {
    color: var(--red-color);
    text-decoration: none;
    padding: .5rem 1rem;
}
.fa-share-from-square {
    color: var(--green-color);
}